
  /* footer */
  .newsletter.p-30.text-white.wow.fadeIn.animated.animated.animated{
    background-color:#aeccc5;
    color:#ffffff;
    font-size:19px;
    line-height:24px;
    padding:30px;
  }
.social-icon a{
    text-align: center;
    font-size: 14px;
    margin-right: 5px;
    transition-duration: 0.5s;
}
.social-icon img{
    max-width: 20px;
    opacity: 0.7;
}

  
  .font-size-15.ml-4.mb-0{
    color:#222222;
    font-family:Spartan;
    font-size:19px;
    font-weight:600px;
    line-height:16.8px;
  }
  
  .font-size-20.mb-0.ml-3{
    color:#222222;
  font-family:Spartan;
  font-size:22px;
  font-weight:600px;
  line-height:21.6px;
  }
  
  
  .row.align-items-center{

  color:#ffffff;
  display:flex;
  flex-wrap:wrap;
  font-size:14px;
  line-height:24px;
  margin:0px -12px;
  }